# ignore compiled python files
__pycache__
*.pyc

# ignore python egg files
*.egg-info/
*.egg

# ignore coverage files
*.py,cover
*.coverage
*.coverage.*

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# ignore idea SDK
.idea/*

# ignore cache
.cache/*
*.pytest_cache/
*.mypy_cache/

# ignore Vim swap files
*.swp

# ignore Sphinx build
docs/generated
docs/_build

# psi4 dat files
*.dat

# macfiles
*.DS_Store
