mypy~=0.610.0
nbformat
numpy
pandas
pylint~=1.9.0
pytest~=3.6.0
pytest-cov~=2.5.0
scipy
virtualenv
3to2
git+git://github.com/quantumlib/openfermion#egg=openfermion
git+git://github.com/quantumlib/cirq#egg=cirq
