numpy
pandas
scipy
typing~=3.6

# NOTE: switch to explicit versions when releasing! Last explicit versions were:
# cirq==0.3.1.*
# openfermion==0.8.1
git+git://github.com/quantumlib/openfermion#egg=openfermion
# cirq must be installed via dev_tools/pip-install-cirq-python2-from-head.sh
# git+git://github.com/quantumlib/cirq#egg=cirq
